<div class="products" *ngFor="let product of films">
  <div class="product">
    <!-- <mat-card>
      <mat-card-header>title: {{ film.title }}</mat-card-header>
      <mat-card-content
        >Opening crawl : {{ film.opening_crawl }}</mat-card-content
      >
      <mat-card-content>Producer: {{ film.producer }}</mat-card-content>
      <mat-card-content>release date{{ film.release_date }}</mat-card-content>
    </mat-card> -->

    <p>{{ product.title }}</p>
    <p>price {{ product.price }}$</p>
    <p>{{ product.description }}</p>

    <button routerLink="/product/{{ product.id }}">See product</button>
  </div>
</div>
